<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.crud.mapper.PermissionMapper">
 
	<select id="selectAll" resultType="permission" >
		select id,name,expression
		from permission 
	</select> 
				
	<select id="selectRowByCondition" resultType="int">
		select count(*) from permission 
	</select>

	<select id="selectDataByCondition" resultType="permission">
		select
		id,name,expression
		from permission 
		
		limit #{startIndex},#{pageSize}
	</select>
	<delete id="deleteById">
		delete from permission where id = #{id}
	</delete>
	
</mapper>